/* reset browser styles */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1.2;
}

ol {
    padding-left: 1.4em;
    list-style: decimal;
}

ul {
    padding-left: 1.4em;
    list-style: square;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* end reset browser styles */

p {
    font-family: 'Overpass Mono', monospace;
    color: white;
    font-size: 14px;
}

.container {
    display: grid;
    grid-template-columns: 12% auto 22%;
    grid-template-rows: 15% 8% 25% auto auto;
    height: 100vh;
    min-height: 500px;
    background-color: #303030;
}

#myheader {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    color: #F0F0F0;
    font-family: 'Special Elite', cursive;
    font-size: 60px;
    text-shadow: 2px 2px 5px #000000;
    padding: 20px;
}

h2 {
    color: white;
    text-align: center;
}

.navi {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: auto;
    grid-row-end: auto;
    background-color: #383838;
    padding: 18px;
    display: flex;
}

.navi li {
    flex-grow: 1;
    text-align: center;
    list-style: none;
}

.navi a {
    font-family: 'Special Elite', cursive;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

.navi a:hover {
    background-color: #8B0000;
    color: white;
}

.sub {
    font-family: 'Special Elite', cursive;
    background-color: #8B0000;
    border: none;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.sub:hover {
    background-color: white;
    color: #8B0000;
}

.rojo {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    list-style-type: none;
    padding: 40px;
}

.rojo a {
    font-family: 'Special Elite', cursive;
    font-size: 18px;
    text-transform: uppercase;
    display: inline-block;
    color: white;
    text-align: center;
    line-height: 1.7;
    padding: 10px 4px;
    margin-left: 20px;
    text-decoration: underline;
}

.rojo a:hover {
    color: #8B0000;
}

#amarillo {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 6;
    background-image: url("../images/leaf.jpg");
    background-size: cover;
    position: relative;
    border-radius: 5px;
    display: inline-block;
    -webkit-transition: background-image;
    -moz-transition: background-image;
    -ms-transition: background-image;
    -o-transition: background-image;
    transition: background-image;
    -webkit-transition-duration: 3s;
    -moz-transition-duration: 3s;
    -ms-transition-duration: 3s;
    -o-transition-duration: 3s;
    transition-duration: 3s;
    -webkit-transition-delay: 2s;
    -moz-transition-delay: 2s;
    -ms-transition-delay: 2s;
    -o-transition-delay: 2s;
    transition-delay: 2s;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -ms-transition--timing-function: ease-in-out;
    -o-transition--timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    background-repeat: none;
}

#amarillo:hover {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 6;
    background-image: url("../images/dollar.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 5px;
    display: inline-block;
    background-repeat: none;
}

.negro {
    background: black;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row: auto;
    background-color: #303030;
    font-family: 'Special Elite', cursive;
    font-size: 24px;
    color: white;
    border-color: white;
    display: block;
    padding: 40px;
    text-align: center;
}

.verde {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row: auto;
    display: block;
    padding: 60px;
    border-color: white;
}

.verde h3 {
    color: white;
    font-family: 'Special Elite', cursive;
    font-size: 20px;
    padding-bottom: 10px;
}

.verde a {
    color: white;
    font-family: 'Special Elite', cursive;
    font-size: 18px;
}

.verde a:visited {
    text-decoration: whitesmoke;
}

.verde a:hover {
    color: #8B0000;
}

.verde a:active {
    color: rgb(119, 136, 153);
}